@import url('https://fonts.googleapis.com/css?family=Roboto+Flex:400');

html {font-size: 125%;} /*20px*/

body {
  background: #b8bebe;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
//  font-weight: 400;
//  line-height: 1.3;
}

.grid-item a {
    color: black;
  }
  
  .grid-item a:hover {
    color: #CA2B1E;
  }

h1 {
//  margin-top: 0;
  font-size: 3.052rem;
  margin: 0;
  text-align: center;
  background: black;
  color: white;
  font-weight: 700;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}